body {
  background-color: rgb(43, 48, 53);
}

.recharts-wrapper svg {
  overflow: visible;
}

/* .flex-row > div {
  width: 100%;
} */

.bg-maroon {
  background-color: #861f41 !important;
}

.bg-lightgray {
  background-color: #c5cfda !important;
}

.text-bronze {
  color: #e6a65d;
}

.arrow-right {
  width: 0;
  height: 0;
  border-top: 21px solid transparent;
  border-bottom: 21px solid transparent;

  border-left: 21px solid #861f41;
}

.imageBackground {
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.bd-example-flex div:not(.vr) {
  /* --bd-violet-rgb: 112.520718, 44.062154, 249.437846; */
  /* background-color: rgba(var(--bd-violet-rgb), 0.15); */
  /* border: 1px solid rgba(var(--bd-violet-rgb), 0.3); */
}
